# Normalización básica y forzar LF en archivos de texto
* text=auto
*.conf text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

